<section>
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="p-3 rounded-4 article text-center">
          <img
            class="w-50 rounded-3"
            [src]="'http://localhost:3000/uploads/' + article.image"
            [alt]="article.title"
          />
          <h2 class="h3 color-my p-2">{{ article.title }}</h2>
          <p class="fs-5">{{ article.description }}</p>
          <p class="text-muted text">{{ article.content }}</p>
        </div>

        <!-- <img [src]="'http://localhost:3000/uploads/' + article.image" alt="" />
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p> -->
      </div>
    </div>
  </div>
</section>
