/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  background-color: #fff2d758;
  font-family: "Playfair Display", serif;
}
.rote {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.color-my {
  color: #2e4e64;
}
.mybtn {
  color: white;
  background-color: #2e4e64;
}
.mybtn:hover {
  color: white;
  background-color: #427294;
}
.article {
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.article:hover {
  box-shadow: 0 0 15px #2e4e64;
  border-radius: 5px;
}
